.cart-dropdown-container {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;

  .empty-message {
    font-size: 18px;
    margin: 50px auto;
  }

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  button {
    margin-top: auto;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: #b0b1b2;
    -webkit-border-radius: 10px    ;
    -moz-border-radius: 10px    ;
    -ms-border-radius: 10px    ;
    -o-border-radius: 10px    ;
    border-radius: 10px;    ;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #b0b1b26c;
  }
  ::-webkit-scrollbar-track {
    background: #FFF;
  }
}

